name: Tests, Clippy, Fmt

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Test & Clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --all --all-features

      - name: Run clippy
        run: |
          cargo clippy --all --all-features -- \
            -D warnings
      - name: Check formatting
        run: cargo fmt --all -- --check
